@using RThomaz.Web.Resources

<div class="tabspessoa">
  <ul>
    <li><a href="#tabs-endereco">@PessoaResource.LegendEndereco</a></li>
    <li><a href="#tabs-telefone">@PessoaResource.LegendTelefone</a></li>
    <li><a href="#tabs-email">@PessoaResource.LegendEmail</a></li>
    <li><a href="#tabs-homepage">@PessoaResource.LegendHomePage</a></li>
  </ul>
  <div id="tabs-endereco">
    
  </div>
  <div id="tabs-telefone">
    
  </div>
  <div id="tabs-email">
    
  </div>
  <div id="tabs-homepage">
    
  </div>
</div>


