.FormButtons	
{
	font-weight: bold;
	margin:20px 0;
	width:100px;
	height: 30px;
}

.ErrorSummaryTitleStyle
{
    color:Red;
    font-size: 14pt;
    font-weight: bold;
    margin: 0 0 15px 0;
}

.ErrorMessageStyle
{
    color:Red;
}